<!-- Header -->
<header id="site_header" class="header mobile-menu-hide">
  <div class="header-content">
    <div class="site-title-block mobile-hidden">
      <div href="/" class="site-title">Charley <span>Cunningham</span></div>
    </div>

    <!-- Navigation -->
    <div class="site-nav">
      <!-- Main menu -->
      <ul id="nav" class="site-main-menu">
        <li>
          <a class="pt-trigger" href="#home" data-animation="62">Home</a><!-- href value = data-id without # of .pt-page. -->
        </li>
        <li>
          <a class="pt-trigger" href="#projects" data-animation="62">Projects</a>
        </li>
        <li>
          <a class="pt-trigger" href="#coursework" data-animation="62">Coursework</a>
        </li>
        <!--
        <li>
          <a class="pt-trigger" href="#blog" data-animation="62">Blog</a>
        </li>
        -->
        <li>
          <a class="pt-trigger" href="#contact" data-animation="62">Contact</a>
        </li>
      </ul>
      <!-- /Main menu -->
    </div>
    <!-- Navigation -->
  </div>
</header>
<!-- /Header -->

<!-- Mobile Header -->
<div class="mobile-header mobile-visible">
  <div class="mobile-logo-container">
    <div class="mobile-site-title">Charley Cunningham</div>
  </div>

  <a class="menu-toggle mobile-visible">
    <i class="fa fa-bars"></i>
  </a>
</div>
<!-- /Mobile Header -->
