<!DOCTYPE html>
<html lang="en" class="no-js">
  <% include global/head %>
  <body class="material-template">
    <div id="page" class="page">
      <% include global/header %>
      <!-- Main Content -->
      <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
          <!-- Subpages -->
          <div class="subpages">
            <!-- Home Subpage -->
            <section class="pt-page" data-id="home">
              <div class="section-inner start-page-content">
                <div class="page-header">
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="photo">
                        <img src="images/charley_square.png" alt="">
                      </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <div class="title-block">
                        <h1>Charley Cunningham</h1>
                      </div>
                      <div class="social-links">
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/mureytasroc"><i style="color: black; font-size: 20px;" class="fa fa-github"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/charley-cunningham-049a81193/"><i style="color: black; font-size: 20px;" class="fa fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="page-content">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="about-me">
                        <div class="block-title">
                          <h3>About Me</h3>
                        </div>
                        <p>Hello! My name is Charley Cunningham. I am an undergraduate at the University of Pennsylvania studying Computer Science. I love developing useful products and solving difficult problems. I have a diverse set of skills and experiences involving software engineering, web development, data science, machine learning, consulting, robotics, mechanical design, electrical engineering, and fabrication.
                          In my free time I am an avid sailor, and I hold FAA pilot certificates in single and multi-engine land categories with instrument ratings in both. I also hold a part-107 rating for commercial operation of unmanned aerial systems.
                        </p>
                      </div>
                      <div class="download-resume">
                        <a target="_blank" rel="noopener noreferrer" href="/resume" class="btn btn-secondary">Download Resume</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Home Subpage -->
            <!-- Projects Subpage -->
            <section class="pt-page" data-id="projects">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Projects</h2>
                </div>
                <div class="page-content">
                  <!-- Portfolio Content -->
                  <div class="portfolio-content">
                    <!-- Portfolio filter -->
                    <ul id="portfolio_filters" class="portfolio-filters">
                      <li class="active">
                        <a class="filter btn btn-sm btn-link active" data-group="All">All</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="Software Engineering">Software Engineering</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="Machine Learning">Machine Learning</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="Data Science">Data Science</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="Web Development">Web Development</a>
                      </li>
                    </ul>
                    <!-- End of Portfolio filter -->
                    <!-- Portfolio Grid -->
                    <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">
                      <!-- Portfolio Item 1 -->
                      <figure class="item" data-groups='["All", "Software Engineering", "Machine Learning", "Data Science"]'>
                        <a class="ajax-page-load" href="/orchard_pipeline">
                          <img src="images/portfolio/orchard_pipeline.png" alt="">
                          <div>
                            <h5 class="name">Orchard CNN Pipeline</h5>
                            <p>A highly automated and optimized CNN development pipeline I made during my summer internship at Orchard.</p>
                            <small>Summer 2020</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 1 -->
                      <!-- Portfolio Item 2 -->
                      <figure class="item" data-groups='["All", "Software Engineering", "Web Development"]'>
                        <a class="ajax-page-load" href="/penn_course_alert">
                          <img src="images/portfolio/pca.png" alt="">
                          <div>
                            <h5 class="name">Penn Course Alert</h5>
                            <p>A free and open-source website for Penn students to receive alerts when a full class opens up.</p>
                            <small>Spring 2020 - Present</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 2 -->
                      <!-- Portfolio Item 3 -->
                      <figure class="item" data-groups='["All", "Software Engineering", "Web Development"]'>
                        <a class="ajax-page-load" href="/penn_course_plan">
                          <img src="images/portfolio/pcp.png" alt="">
                          <div>
                            <h5 class="name">Penn Course Plan</h5>
                            <p>A free and open-source website for Penn students to plan their schedules and course selections.</p>
                            <small>Fall 2019 - Spring 2020</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 3 -->
                      <!-- Portfolio Item 4 -->
                      <figure class="item" data-groups='["All", "Software Engineering", "Web Development"]'>
                        <a class="ajax-page-load" href="/pcx_auto_docs">
                          <img src="images/portfolio/pcx_auto_docs.png" alt="">
                          <div>
                            <h5 class="name">Penn Courses API Auto-Docs</h5>
                            <p>A powerful and customizable auto-docs system for the Penn Courses API.</p>
                            <small>Spring 2020 - Fall 2020</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 4 -->
                      <!-- Portfolio Item 5 -->
                      <figure class="item" data-groups='["All", "Software Engineering", "Data Science", "Machine Learning", "Web Development"]'>
                        <a class="ajax-page-load" href="/house_valuation_api">
                          <img src="images/portfolio/house_valuation_api.png" alt="">
                          <div>
                            <h5 class="name">House Valuation API</h5>
                            <p>I cleaned/analyzed a house listing dataset, experimented with ML valuation models, and deployed my best model via an API.</p>
                            <small>Spring 2020</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 5 -->
                      <!-- Portfolio Item 6 -->
                      <figure class="item" data-groups='["All", "Data Science"]'>
                        <a class="ajax-page-load" href="/penn_course_statistics">
                          <img src="images/portfolio/penn_course_stats.png" alt="">
                          <div>
                            <h5 class="name">Penn Course Statistics</h5>
                            <p>Using an assortment of statistics and visualizations, I present a data-driven analysis of academic courses at Penn.</p>
                            <small>Spring 2021</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 6 -->
                      <!-- Portfolio Item 6 -->
                      <!--
                        <figure class="item" data-groups='["All", "Software Engineering"]'>
                          <a class="ajax-page-load" href="/train_rescheduling">
                            <img src="images/portfolio/train_rescheduling.png" alt="">
                            <div>
                              <h5 class="name">Train Rescheduling</h5>
                              <p>A friend and I used constraint programming to implement a train rescheduling algorithm from a research paper.</p>
                              <small>Fall 2020</small>
                            </div>
                          </a>
                        </figure>
                        -->
                      <!-- /Portfolio Item 6 -->
                      <!-- Portfolio Item 7 -->
                      <figure class="item" data-groups='["All", "Software Engineering", "Web Development"]'>
                        <a class="ajax-page-load" href="/wmc">
                          <img src="images/portfolio/wmc_homepage.png" alt="">
                          <div>
                            <h5 class="name">WMC Club Website</h5>
                            <p>The website of Wharton Management Club, a student organization of management enthusiasts at Wharton.</p>
                            <small>Fall 2019</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 7 -->
                      <!-- Portfolio Item 8 -->
                      <figure class="item" data-groups='["All", "Software Engineering", "Web Development"]'>
                        <a class="ajax-page-load" href="/pbr">
                          <img src="images/portfolio/pbr_homepage.png" alt="">
                          <div>
                            <h5 class="name">PBR Club Website</h5>
                            <p>The website of the Penn Business Roundtable, a speaker-centric business club at Penn.</p>
                            <small>Fall 2019</small>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 8 -->
                    </div>
                    <!-- /Portfolio Grid -->
                  </div>
                  <!-- /Portfolio Content -->
                </div>
              </div>
            </section>
            <!-- /Portfolio Subpage -->
            <!-- Coursework Subpage -->
            <section class="pt-page" data-id="coursework">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Coursework</h2>
                </div>
                <div class="page-content">
                  <h3>Degree & Major</h3>
                  <p>I am pursuing a Bachelor of Science in Engineering Degree from the University of Pennsylvania, majoring in <a  target="_blank" rel="noopener noreferrer" href="https://www.cis.upenn.edu/undergraduate/advising/all-degree-requirements/csci-requirements-2017/">Computer Science</a>.</p>
                  <br>
                  <h3>Current GPA</h3>
                  <p>My GPA at Penn through the end of my sophomore spring (spring 2020) semester is <b>4.0</b>/4.0.</p>
                  <!-- Download Transcript Button -->
                  <div style="margin-top:-20px;" class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="block">
                        <div class="center download-resume">
                          <a target="_blank" rel="noopener noreferrer" href="/transcript" class="btn btn-secondary">Download Transcript</a>
                        </div>
                        <br>
                        <div class="centerimageinside" ><a target="_blank" rel="noopener noreferrer" href="https://catalog.upenn.edu/undergraduate/engineering-applied-science"><img src="/images/penn_logo.png" alt="penn logo" width="150px"/></a></div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Download Transcript Button -->
                  <br>
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Computer Science</h3>
                        </div>
                        <div class="timeline">
                          <!-- Education 0 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Algorithms</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Spring 2021</span>
                            <p class="item-description">How do you optimally encode a text file?
                              How do you find shortest paths in a map? How do you design a communication
                              network? How do you route data in a network? What are the limits of efficient
                              computation? This course gives a comprehensive introduction to design and analysis
                              of algorithms, and answers along the way to these and many other interesting
                              computational questions. You will learn about problem-solving; advanced data
                              structures such as universal hashing and red-black trees; advanced design
                              and analysis techniques such as dynamic programming and amortized analysis;
                              graph algorithms such as minimum spanning trees and network flows;
                              NP-completeness theory; and approximation algorithms.
                            </p>
                          </div>
                          <!-- / Education 0 -->
                          <!-- Education 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Data Structures and Algorithms</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Spring 2020</span>
                            <p class="item-description">This is a course about Algorithms and Data Structures using the Java programming language.
                              We introduce the basic concepts about complexity of an algorithm and methods on how to compute the running time of algorithms.
                              Then, we describe data structures like stacks, queues, maps, trees, and graphs, and we construct efficient algorithms based on these representations.
                              The course builds upon existing implementations of basic data structures in Java and extends them for the structures like trees, studying the performance of
                              operations on such structures, and the efficiency when used in real-world applications. A large project introducing students to the challenges of software
                              engineering concludes the course.
                            </p>
                          </div>
                          <!-- / Education 1 -->
                          <!-- Education 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Programming Languages and Techniques</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2019</span>
                            <div class="item-description">
                              CIS 120 is a fast-paced introduction to the fundamental concepts of programming and software design. It introduces students to computer science by emphasizing the design aspects of programming. Topics include:
                              <ul>
                                <li>Data types and data representation</li>
                                <li>Abstraction, interfaces, and modularity</li>
                                <li>Test-driven development</li>
                                <li>Programming patterns (recursion, iteration, events, call-backs, collections, map-reduce, GUIs, …)</li>
                                <li>Functional programming</li>
                                <li>How and when to use mutable state</li>
                                <li>Object-oriented programming</li>
                              </ul>
                              CIS 120 teaches programming concepts in two different languages: OCaml and Java, spending approximately equal time on how to design programs in each language.
                            </div>
                          </div>
                          <!-- / Education 3 -->
                          <!-- Education 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Computer Operating Systems</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2021</span>
                            <p class="item-description">This course surveys methods and algorithms used in modern operating systems. Concurrent distributed operation is emphasized. The main topics covered are as follows: process synchronization; interprocess communication; concurrent/distributed programming languages; resource allocation and deadlock; virtual memory; protection and security; distributed operation; distributed data; performance evalaution.</p>
                          </div>
                          <!-- / Education 5 -->
                          <!-- Education 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Scalable & Cloud Computing</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2021</span>
                            <p class="item-description">What is the "cloud"? How do we build software systems and components that scale to millions of users and petabytes of data, and are "always available"? In the modern Internet, virtually all large Web services run atop multiple geographically distributed data centers: Google, Yahoo, Facebook, iTunes, Amazon, EBAY, Bing, etc. Services must scale across thousands of machines, tolerate failures, and support thousands of concurrent requests. Increasingly, the major providers (including Amazon, Google, Microsoft, HP, and IBM) are looking at "hosting" third-party applications in their data centers - forming so-called "cloud computing" services.</p>
                          </div>
                          <!-- / Education 5 -->
                          <!-- Education 4 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Big Data Analytics</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Spring 2020</span>
                            <p class="item-description">In the new era of big data, we are increasingly faced with the challenges of processing vast volumes of data. Given the limits of individual machines (compute power, memory, bandwidth), increasingly the solution is to process the data in parallel on many machines. This course focuses on the fundamentals of scaling computation to handle common data analytics tasks. You will learn about basic tasks in collecting, wrangling, and structuring data; programming models for performing certain kinds of computation in a scalable way across many compute nodes; common approaches to converting algorithms to such programming models; standard toolkits for data analysis consisting of a wide variety of primitives; and popular distributed frameworks for analytics tasks such as filtering, graph analysis, clustering, and classification.</p>
                          </div>
                          <!-- / Education 4 -->
                          <!-- Education 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Artificial Intelligence</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2021</span>
                            <p class="item-description">This course investigates algorithms to implement resource-limited knowledge-based agents which sense and act in the world. Topics include, search, machine learning, probabilistic reasoning, natural language processing, knowledge representation and logic. After a brief introduction to the language, programming assignments will be in Python.</p>
                          </div>
                          <!-- / Education 5 -->
                          <!-- Education 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">DevOps</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2021</span>
                            <p class="item-description">DevOps is the breaking down of the wall between Developers and Operations to allow more frequent and reliable feature deployments. Through a variety of automation-focused techniques, DevOps has the power to radically improve and streamline processes that in the past were manual and susceptible to human error.
                              <br>
                              In this course we will take a practical, hands-on look at DevOps and dive into some of the main tools of DevOps: automated testing, containerization, reproducibility, continuous integration, and continuous deployment. Throughout the semester we build toward an end-to-end pipeline that takes a webserver, packages it, and then deploys it to the cloud in a reliable and quickly-reproducible manner utilizing industry-leading technologies like Kubernetes and Docker. Evaluation is based on homework assignments and a final group project.
                            </p>
                          </div>
                          <!-- / Education 5 -->
                          <!-- Education 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Solving Hard Problems in Practice</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2020</span>
                            <p class="item-description">What does Sudoku have in common with debugging, scheduling exams, and routing shipments? All of these problems are provably hard -- no one has a fast algorithm to solve them. But in reality, people are quickly solving these problems on a huge scale with clever systems and heuristics! In this course, we'll explore how researchers and organizations like Microsoft, Google, and NASA are solving these hard problems, and we'll get to use some of the tools they've built!</p>
                          </div>
                          <!-- / Education 5 -->
                          <!-- Education 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Python Programming</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Spring 2020</span>
                            <p class="item-description">Python is an elegant, concise, and powerful language that is useful for tasks large and small. Python has quickly become a popular language for getting things done efficiently in many in all domains: scripting, systems programming, research tools, and web development. This course will provide an introduction to this modern high-level language using hands-on experience through programming assignments and a collaborative final application development project.</p>
                          </div>
                          <!-- / Education 5 -->
                          <!-- Education 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">C++ Programming</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2021</span>
                            <p class="item-description">This course will provide an introduction to programming in C++ and is intended for students who already have some exposure to programming in another language such as Java, C++ provides the programmer with a greater level of control over machine resources and are commonly used in situations where low level access or performance are important. This course will illuminate the issues associated with programming at this level and will cover issues such as explicit memory management, pointers, the compilation process and debugging. The course will involve several programming projects which will provide students with the experience they need to program effectively in these languages.</p>
                          </div>
                          <!-- / Education 5 -->
                          <!-- Education 0 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Computer Organization and Design</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Spring 2021</span>
                            <p class="item-description">This is the second computer organization course
                              and focuses on computer hardware design. Topics covered are:
                              (1) basic digital system design including finite state machines,
                              (2) instruction set design and simple RISC assembly programming,
                              (3) quantitative evaluation of computer performance,
                              (4) circuits for integer and floating-point arithmetic,
                              (5) datapath and control,
                              (6) micro-programming,
                              (7) pipelining,
                              (8) storage hierarchy and virtual memory,
                              (9) input/output,
                              (10) different forms of parallelism including instruction level parallelism, data-level parallelism using both vectors and message-passing multi-processors, and thread-level parallelism using shared memory multiprocessors. Basic cache coherence and synchronization.
                            </p>
                          </div>
                          <!-- / Education 0 -->
                          <!-- Education 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Introduction to Computer Architecture</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2020</span>
                            <p class="item-description">The goal of this course is to teach you how a computer really works. We begin by discussing transistors, the basic switching elements that constitute modern computers. We then describe how these transistors can be aggregated into more complex units like gates and ALUs and ultimately datapaths that perform computation. Once we have described how we can build a computer we will move on to talking about assembly language and how the computer is programmed at the lowest level. We will spend the second half of the course talking about the C programming language and how the features of this language are mapped onto the lower level assembly constructs.</p>
                          </div>
                          <!-- / Education 2 -->
                          <!-- Education 6 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Automata, Computability, and Complexity</h4>
                            <!-- <span class="item-period">Grade: A</span> -->
                            <span class="item-small">Fall 2020</span>
                            <p class="item-description">This course explores questions fundamental to computer science such as which problems cannot be solved by computers, can we formalize computing as a mathematical concept without relying upon the specifics of programming languages and computing platforms, and which problems can be solved efficiently. The topics include finite automata and regular languages, context-free grammars and pushdown automata, Turing machines and undecidability, tractability and NP-completeness. The course emphasizes rigorous mathematical reasoning as well as connections to practical computing problems such as text processing, parsing, XML query languages, and program verification.</p>
                          </div>
                          <!-- / Education 6 -->
                          <!-- Education 6 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Mathematical Foundations of CS</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Summer 2019</span>
                            <p class="item-description">What are the basic mathematical concepts and techniques needed in computer science? This course provides an introduction to proof principles and logics, functions and relations, induction principles, combinatorics and graph theory, as well as a rigorous grounding in writing and reading mathematical proofs.</p>
                          </div>
                          <!-- / Education 6 -->
                          <!-- Education 7 -->
                          <div class="timeline-item">
                            <h4 class="item-title">AP Computer Science A</h4>
                            <!-- <span class="item-period">Grade: 5/5</span> -->
                            <span class="item-small">Fall 2019</span>
                            <p class="item-description">AP Computer Science emphasizes object-oriented programming methodology with an emphasis on problem solving and algorithm development. It also includes the study of data structures and abstraction. Topics include: Primitive Types; Using Objects; Boolean Expressions and if Statements; Iteration; Writing Classes; Array; ArrayList; 2D Array; Inheritance; Recursion.</p>
                          </div>
                          <!-- / Education 7 -->
                        </div>
                        <br>
                        <div class="block-title">
                          <h3>Writing, Social Sciences, & Humanities</h3>
                        </div>
                        <div class="timeline">
                          <!-- Education 0 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Engineering Ethics</h4>
                            <!-- <span class="item-period">Grade: Incomplete</span> -->
                            <span class="item-small">Spring 2021</span>
                            <p class="item-description">
                              In this course, students will study the social, political, environmental and economic context of engineering practice. Students will develop an analytical toolkit to identify and address ethical challenges and opportunities in the engineering profession, including studies of risk and safety, professional responsibility, and global perspectives. The course will begin with a foundation in the history of engineering practice and major Western ethical and philosophical theories. Students will then apply this material to both historical case studies, such as Bhopal, the NASA Shuttle Program, and Three Mile Island, as well as contemporary issues in big data, artificial intelligence, and diversity within the profession. Students will consider how engineers, as well as governments, the media, and other stakeholders, address such issues.
                            </p>
                          </div>
                          <!-- / Education 0 -->
                          <!-- Experience 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Writing Seminar</h4>
                            <!-- <span class="item-period">Grade: A</span> -->
                            <span class="item-small">Fall 2019</span>
                            <p class="item-description">
                              Critical writing seminars are small, innovative, discipline- and genre-based courses organized around a specific scholarly inquiry. These seminars focus on helping students improve their writing skills and each student is required to take one.
                            </p>
                          </div>
                          <!-- / Experience 1 -->
                          <!-- Experience 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Introduction to Philosophy</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Summer 2019</span>
                            <p class="item-description">
                              Philosophers ask difficult questions about the most basic issues in human life. Does God exist? What can we know about the world? What does it mean to have a mind? How should I treat non-human animals? Do I have free will? This course is an introduction to some of these questions and to the methods philosophers have developed for thinking clearly about them.
                            </p>
                          </div>
                          <!-- / Experience 2 -->
                          <!-- Experience 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">The Social Contract</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Summer 2019</span>
                            <p class="item-description">
                              This is a critical survey of the history of western modern political philosophy, beginning from the Early Modern period and concluding with the 19th or 20th Century. Our study typically begins with Hobbes and ends with Mill or Rawls. The organizing theme of our inventigation will be the idea of the Social Contract. We will examine different contract theories as well as criticisms and proposed alternatives to the contract idea, such as utilitarianism. Besides the above, examples of authors we will read are Locke, Rousseau, Hume, Mill and Marx.
                            </p>
                          </div>
                          <!-- / Experience 3 -->
                          <!-- Experience 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">AP Spanish Language and Culture</h4>
                            <!-- <span class="item-period">Grade: 5/5</span> -->
                            <span class="item-small">Spring 2018</span>
                            <p class="item-description">
                              This advanced course is built around four main units: family and communities, science and technology, arts and beauty, and finally, individual and community identities. These topics will be studied through three different lenses: the world, the Spanish-speaking world, and the student's individual experience. Through literary texts, newspaper articles, videos and other media, students will be introduced to these topics. Students will develop advanced listening, speaking, and expository writing skills while thoroughly reviewing Spanish grammar. The assessment focus will be less on quizzes and tests, and more on original, creative work - produced individually or in groups - such as projects and presentations. Students will present Noticiero projects on topics of personal interest and lead the class in mini discussions of their chosen topics.
                            </p>
                          </div>
                          <!-- / Experience 3 -->
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Mathematics</h3>
                        </div>
                        <div class="timeline">
                          <!-- Experience 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Statistics for Data Science</h4>
                            <!-- <span class="item-period">Grade: A</span> -->
                            <span class="item-small">Fall 2021</span>
                            <p class="item-description">
                              The course covers the methodological foundations of data science, emphasizing basic concepts in statistics and learning theory, but also modern methodologies. Learning of distributions and their parameters. Testing of multiple hypotheses. Linear and nonlinear regression and prediction. Classification. Uncertainty quantification. Model validation. Clustering. Dimensionality reduction. Probably approximately correct (PAC) learning. Such theoretical concepts are further complemented by exempla r applications, case studies (datasets), and programming exercises (in Python) drawn from electrical engineering, computer science, the life sciences, finance, and social networks.  
                            </p>
                          </div>
                          <!-- / Experience 1 -->
                          <!-- Experience 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Advanced Linear Algebra</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2020</span>
                            <p class="item-description">
                              Topics include:
                              Fields, vector spaces, subspaces; Intersection and sum, direct sum; Linear independence, basis; The dimension of a vector space; Dimension formula, matrices, systems of linear equations; Row-reduced echelon form, elementary row operations, elementary matrices, invertible matrices; Linear maps, the isomorphism theorem; dimension formula for linear maps, coordinates, and matrix representations of linear maps; more on matrix representations of linear maps, rank, equivalence and similarity, applications to systems of linear equations; congruence relations, quotient spaces, homomorphism theorem; Ways to think about quotients; Linear forms, duality, orthogonality; Dual linear map, permutations; Multilinear forms, alternating multilinear forms, determinant of an endomorphism; Determinants of matrices; Cramer's rule, Polynomials; Eigenvalues, characteristic polynomial; Minimal polynomial, primary decomposition; Generalized eigenspaces, Jordan normal form for nilpotent endomorphisms; Jordan normal form, Hermitian forms, inner products, orthonormalization; orthogonal complement, self-duality, adjoint maps, self-adjoint operators.
                            </p>
                          </div>
                          <!-- / Experience 1 -->
                          <!-- Experience 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Engineering Probability</h4>
                            <!-- <span class="item-period">Grade: A</span> -->
                            <span class="item-small">Spring 2020</span>
                            <p class="item-description">This course introduces students to the mathematical foundations of the theory of probability and its rich applications. The course begins with an exploration of combinatorial probabilities in the classical setting of games of chance, proceeds to the development of an axiomatic, fully mathematical theory of probability, and concludes with the discovery of the remarkable limit laws and the eminence grise of the classical theory, the central limit theorem. The topics covered include: discrete and continuous probability spaces , distributions, mass functions, densities; conditional probability; independence; the Bernoulli schema: the binomial, Poisson, and waiting time distributions; uniform, exponential, normal, and related densities; expectation, variance, moments; conditional expectation; generating functions, characteristic functions; inequalities, tail bounds, and limit laws. But a bald listing of topics does not do justice to the subject: the material is presented in its lush and glorious historical context, the mathematical theory buttressed and made vivid by rich and beautiful applications drawn from the world around us.</p>
                          </div>
                          <!-- / Experience 2 -->
                          <!-- Experience 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Linear Algebra & Differential Equations (Honors)</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Spring 2020</span>
                            <p class="item-description">This is an honors version of Linear Algebra and Differential Equations which explores the same topics but with greater mathematical rigor. Topics include: Linear spaces; Linear transformations and matrices; Eigenvalues and eigenvectors; Eigenvalues of operators on Euclidean spaces; Introduction to differential equations; Linear differential equations; Systems of differential equations.</p>
                          </div>
                          <!-- / Experience 3 -->
                          <!-- Experience 4 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Multivariable Calculus (Honors)</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2019</span>
                            <p class="item-description">This is an honors version of Multivariable Calculus, covering the
                              material in greater depth, with more challenging problems and more attention to theory
                              and to the reasons behind the results. Topics include: Foundations (analysis); Vector algebra; Calculus of vector-valued functions (Selections); Differential calculus of scalar and vector fields; Applications of differential calculus; Line integrals; Multiple integrals; Surface integrals.
                            </p>
                          </div>
                          <!-- / Experience 4 -->
                          <!-- Experience 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Engineering Electromagnetics</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2019</span>
                            <p class="item-description">
                              This course covers basic topics in engineering electromagnetics, namely, electric charge, electric field, electric energy, conductors, insulators, dielectric materials, capacitors, electric current, magnetic field, inductors, Faraday's law of induction, alternating current (AC), impedance, Maxwell's equations, electromagnetic and optical wave propagation, with emphasis on engineering issues. Relevant engineering topics are emphasized in our lectures in order to prepare students for other courses in ESE that rely on the contents on this course. Several laboratory experiments accompany the course to provide hands-on experience on some of the topics in the lecture and prepare students for the capstone project.
                            </p>
                          </div>
                          <!-- / Experience 5 -->
                          <!-- Experience 6 -->
                          <div class="timeline-item">
                            <h4 class="item-title">AP BC Calculus</h4>
                            <!-- <span class="item-period">Grade: 5/5</span> -->
                            <span class="item-small">Spring 2019</span>
                            <p class="item-description">Calculus BC is a full-year course in the calculus of functions of a single variable. Topics include: Analysis of graphs (predicting and explaining behavior); Limits of functions (one and two sided); Asymptotic and unbounded behavior; Continuity; Derivatives; Integrals; Fundamental theorem of calculus; Antidifferentiation; L'Hôpital's rule; Separable differential equations; Convergence tests for series; Taylor series; Parametric equations; Polar functions (including arc length in polar coordinates and calculating area); Arc length calculations using integration; Integration by parts; Improper integrals; Differential equations for logistic growth; Using partial fractions to integrate rational functions.</p>
                          </div>
                          <!-- / Experience 6 -->
                          <!-- Experience 7 -->
                          <div class="timeline-item">
                            <h4 class="item-title">AP Physics C: Mechanics</h4>
                            <!-- <span class="item-period">Grade: 5/5</span> -->
                            <span class="item-small">Spring 2019</span>
                            <p class="item-description">
                              Intended to be equivalent to an introductory college course in mechanics for physics or engineering majors, the course modules are:
                              Kinematics;
                              Newton's laws of motion;
                              Work, energy and power;
                              Systems of particles and linear momentum;
                              Circular motion and rotation;
                              Oscillations and gravitation.
                              Methods of calculus are used wherever appropriate in formulating physical principles and in applying them to physical problems. Therefore, students should have completed or be concurrently enrolled in a calculus class.
                            </p>
                          </div>
                          <!-- / Experience 7 -->
                        </div>
                        <br>
                        <div class="block-title">
                          <h3>Business & Economics</h3>
                        </div>
                        <div class="timeline">
                          <!-- Education 0 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Analytics & the Digital Economy</h4>
                            <!-- <span class="item-period">Grade: Pass</span> -->
                            <span class="item-small">Spring 2021</span>
                            <p class="item-description">
                              The goal of this course is to provide students with applied experience with the world of data science. In doing so, a course objective is to ensure that students who complete the course are comfortable in any business or policy environment
                              where data are extensively used to inform strategic decision-making. Students should leave the course with an understanding of what is required to build "dataproducts", and with the confidence that they
                              have the skills necessary to acquire, analyze, and communicate insights in a data rich environment.
                            </p>
                          </div>
                          <!-- / Education 0 -->
                          <!-- Experience 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Introduction to Management</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2020</span>
                            <p class="item-description">
                              We all spend much of our lives in organizations. Most of us are born in organizations, educated in organizations, and work in organizations. Organizations emerge because individuals can't (or don't want to) accomplish their goals alone. Management is the art and science of helping individuals achieve their goals together. Managers in an organization determine where their organization is going and how it gets there. More formally, managers formulate strategies and implement those strategies. This course provides a framework for understanding the opportunities and challenges involved in formulating and implementing strategies by taking a "system" view of organizations, which means that we examine multiple aspects of how managers address their environments, strategy, structure, culture, tasks, people, and outputs, and how managerial decisions made in these various domains interrelate. The course will help you to understand and analyze how managers can formulate and implement strategies effectively. It will be particularly valuable if you are interested in management consulting, investment analysis, or entrepreneurship - but it will help you to better understand and be a more effective contributor to any organizations you join, whether they are large, established firms or startups.
                            </p>
                          </div>
                          <!-- / Experience 1 -->
                          <!-- Experience 2 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Managerial Economics</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Fall 2019</span>
                            <p class="item-description">
                              This course will introduce you to "managerial economics" which is the application of microeconomic theory to managerial decision-making. Microeconomic theory is a remarkably useful body of ideas for understanding and analyzing the behavior of individuals and firms in a variety of economic settings. The goal of the course is for you to understand this body of theory well enough so that you can effectively analyze managerial (and other) problems in an economic framework. While this is a "tools" course, we will cover many real-world applications, particularly business applications, so that you can witness the usefulness of these tools and acquire the skills to use them yourself. We will depart from the usual microeconomic theory course by giving more emphasis to prescription: What should a manager do in order to achieve some objective? That course deliverable is to compared with description: Why do firms and consumers act the way they do? The latter will still be quite prominent in this course because only by understanding how other firms and customers behave can a manager determin what is best for him or her to do.
                            </p>
                          </div>
                          <!-- / Experience 2 -->
                          <!-- Experience 3 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Behavioral Economics</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Spring 2020</span>
                            <p class="item-description">
                              Behavioral economics applies insights from psychology to the study of economic phenomena. This course will take the possibility of deviations from rational, self-interested behavior as a starting point, and explore two main questions: How does psychology play out in markets, where sophisticated and unsophisticated consumers and firms interact and compete? And what does behavioral economics imply for public policy? Markets have the potential to protect consumers from their biases, when firms compete to give biased consumers the best deal. In addition, markets allow for the emergence of informational intermediaries that give biased consumers advice. We will examine whether and how this remedy is provided in a diverse array of markets. Behavioral economics also affects what governments should do and what governments actually do, when they address market failures, combat poverty and inequality, and raise revenue. This course therefore also explores "Behavioral Public Finance" -- optimal policy in the presence of biases -- and "Behavioral Political Economy" -- how biases affect the choices of politicians and regulators themselves.
                            </p>
                          </div>
                          <!-- / Experience 3 -->
                          <!-- Experience 4 -->
                          <div class="timeline-item">
                            <h4 class="item-title">Monetary Economics & Global Economy</h4>
                            <!-- <span class="item-period">Grade: A+</span> -->
                            <span class="item-small">Summer 2019</span>
                            <p class="item-description">
                              FNCE 101 is an intermediate-level course in macroeconomics and the global economy, including topics in monetary and international economics. The goal is to provide a unified framework for understanding macroeconomic events and policy, which govern the global economic environment of business. The course analyzes the determinants and behavior of employment, production, demand and profits; inflation, interest rates, asset prices, and wages; exchange rates and international flows of goods and assets; including the interaction of the real economy with monetary policy and the financial system. The analysis is applied to current events, both in the US and abroad.
                            </p>
                          </div>
                          <!-- / Experience 4 -->
                          <!-- Experience 4 -->
                          <div class="timeline-item">
                            <h4 class="item-title">AP Microeconomics</h4>
                            <!-- <span class="item-period">Grade: 5/5</span> -->
                            <span class="item-small">Spring 2019</span>
                            <p class="item-description">
                              The course begins with a study of fundamental economic concepts such as scarcity, opportunity costs, production possibilities, specialization, and comparative advantage. Major topics include the nature and functions of product markets; factor markets; and efficiency, equity, and the role of government.
                              <br>
                              Throughout the course students work through projects, problem sets, and simulations to deepen their understanding of the material. Analysis of current events is a key component of the course and news articles, podcasts, and other media resources are used regularly to supplement the texts. Students in Economics will participate in several required field trips around New York City and hear from multiple guest lecturers.
                            </p>
                          </div>
                          <!-- / Experience 4 -->
                          <!-- Experience 5 -->
                          <div class="timeline-item">
                            <h4 class="item-title">AP Macroeconomics</h4>
                            <!-- <span class="item-period">Grade: 5/5</span> -->
                            <span class="item-small">Spring 2019</span>
                            <p class="item-description">
                              Study begins with fundamental economic concepts such as scarcity, opportunity costs, production possibilities, specialization, comparative advantage, demand, supply, and price determination.
                              Major topics include measurement of economic performance, national income and price determination, fiscal and monetary policy, and international economics and growth.
                              <br>
                              Throughout the course students work through projects, problem sets, and simulations to deepen their understanding of the material. Analysis of current events is a key component of the course and news articles, podcasts, and other media resources are used regularly to supplement the texts. Students in Economics will participate in several required field trips around New York City and hear from multiple guest lecturers.
                            </p>
                          </div>
                          <!-- / Experience 5 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Coursework Subpage -->
            <!-- Contact Subpage -->
            <section class="pt-page" data-id="links">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Links</h2>
                </div>
                <div class="page-content">
                  <br>
                  <div class="contact-wrapper">
                    <div class="contact-info-block">
                      <div class="ci-icon">
                        <i style="color: black;" class="fa fa-envelope"></i>
                      </div>
                      <div class="ci-text">
                        <p class="contact_text" id="address_field">Please enable JS to see my email (or download my <a  target="_blank" rel="noopener noreferrer" href="/resume">resume</a>)</p>
                      </div>
                    </div>
                    <div class="contact-info-block">
                      <div class="ci-icon">
                        <i style="color: black; font-size: 20px;" class="fa fa-github"></i>
                      </div>
                      <div class="ci-text">
                        <a class="contact_text" target="_blank" rel="noopener noreferrer" href="https://github.com/mureytasroc">GitHub</a>
                      </div>
                    </div>
                    <div class="contact-info-block">
                      <div class="ci-icon">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/charley-cunningham-049a81193/"><i style="color: black; font-size: 20px;" class="fa fa-linkedin"></i></a>
                      </div>
                      <div class="ci-text">
                        <a class="contact_text" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/charley-cunningham-049a81193/">LinkedIn</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Contact Subpage -->
          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->
    </div>
    <% include global/footer %>
  </body>
</html>